html{
	overflow: hidden;
}

.question{
		position:absolute;
    top: 5%;
		right: 5%;
}
.bottombar .closebtn{
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		color: white;
}
.bottombar{
	height:50%;
	width: 50%;
	position:fixed;
	z-index: 1;
	bottom: 25%;
	left:25%;
	background-color: var(--black);
	color:var(--white);
	overflow-x: hidden;
	padding:2% 0%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity .2s linear;
}
.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .2s, opacity .2s linear;
}

.ready{
    position:absolute;
    bottom:20%;
    left:20%;
    opacity:0;
    pointer-events: none;
}

.readyShow{
    opacity:1;
    pointer-events: all;
}

.indicateSuccess{
	background-color: #119966 !important;
}

.indicateFail{
	background-color: #cc1155 !important;
}

.indicateYield{
	background-color: #eebb00 !important;
}

.animate{
	animation-name: indicate;
  	animation-duration: 4s;
}

#indicatorD{
	background-color:#323232;
	color:white;
	position:absolute;
	bottom:-100px;
	left:0px;
	width:100%;
	text-align: center;
}

@keyframes indicate{
	0%    { bottom: -100px; }
	5%    { bottom: 0px; }
	95%   { bottom: 0px; }
	100% { bottom: -100px; }

}