.container{
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
}

.empty_space{
		flex-basis: 25%;
		display:flex;
}
.gif{
		display: flex;
		margin: auto;
}

#capture{
  margin:auto;
  font-size:60px;
  text-align: center;
	text-shadow:
   -2px -2px 0 var(--white),  
    2px -2px 0 var(--white),
    -2px 2px 0 var(--white),
     2px 2px 0 var(--white);
	color:var(--navy);
}	

.lds-ellipsis {
  display: inline-block;
  position: relative;
	
	/*display:flex;
	margin:auto;
	*/
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: solid 3px var(--white);
  background: var(--navy);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: -20px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: -20px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 20px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 60px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
    
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
    z-index:-1;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40px, 0);
    z-index:1;
  }
}
