
<html>
    <head>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <script src="js/pixi.js"></script>
    </head>
    <body>
        this is the game!!
    </body>
</html>