
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/game.css"/>
        
        <script src="js/pixi.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body style="display:flex; justify-content:center; align-items: center;">
        <button class="question" onclick="openInstructions()">?</button>
        <script src="js/resources.js"></script>
        <script src="js/utilities.js"></script>
        <script src="js/game.js"></script>
        <button class="ready" onclick="sendShips(socket)" >Ready!</button>

        <div id="bottombar" class="bottombar hidden"> 
            <a href="javascript:void(0)" class="closebtn" onclick="closeInstructions()">&times;</a> 
            <p> Click and drag ships to board to place them. <br>
            Right click boats to rotate them. <br>
            Click Ready to lock in selection. </p>
        </div>
        <div id="indicatorD" class="animate">
            <p id="indicatorT"> Place ships on board. </p>
        </div>
    </body>
    <script>
        your_id = 0;
        var socket = io();
        socket.emit('in game');
        socket.on("board accept", function(msg){
            updateStatusBar("Board update successful! Waiting for other player ...", "success")
        });
        socket.on("your id", function(msg){
            your_id = parseInt(msg);
        });
        console.log(document.cookie);
    </script>
</html>