<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/mainMenu.css"/>
</head>

<body>

<header>
<form>
	<div class="top-nav-container">
			<button class="tablink" onclick="#">Register</button>
			<button class="tablink" onclick="#">Sign in</button>
			<div class="empty_space"></div>
			<button class="tablink" type="submit" formaction="/mainToScore">Score board</button>
		</div>
</form>
</header>

<main>
<form>
	<div class="container">
		<h1 id="title"> Coral Sea</h1>
		<div class="empty_space"></div>
		<button type="submit" id="btn-play" type="submit" class="btn" formaction="/mainToQueue">Play</button>
	</div>
</form>	
</main>

<footer>
	<% include partials/footer %>
</footer>

</body>
</html>