<html>
    <head> 
        <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/score.css"/>
				<script src="/socket.io/socket.io.js"></script>
				<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
		
		<script>
			
			$(function(){
				var socket = io(); 
				socket.emit('getBoard');
				console.log("should get board");
				var boardVals = null;
				socket.on('returnBoard', (msg) => {
						boardVals = JSON.parse(msg);
						text = "";
						boardVals.forEach(generateTable);
						console.log(text);
						$(text).appendTo($(".board"));
				});
			});
			
			function generateTable(row){
			     text += '<div class="entry"> <div> ' + row.uname + '</div>';
					 text += "<div> " + row.score + " </div></div>";
			}
				
		</script>
		
    <body class="flex-body">
        <div class="page">
            <h1 class="title">Scoreboard</h1>
            <div class="board" id ="board">
							<div class="entry">
									<div> User Name </div>
									<div> Score </div>
							</div>
            </div>
            <div class="center">
            <form>
                <button style="margin-top:70px; font-size:30px;" type="submit" formaction="/scoreToMain">Return to Harbor</button>
            </form>
            </div>
            
        </div>
    </body>
    <%- include partials/footer.ejs %>
</html>
