

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/score.css"/>
    </head>
    <body class="flex-body">
        <div class="page">
            <h1 class="title">Scoreboard</h1>
            <div class="board">
            <% for(var i = 0; i < 10; i++) { %>
                <div class="entry">
                    <div> Name From Database </div>
                    <div> Score from database </div>
                </div>
            <% } %>
            </div>
            <div class="center">
                <input style="margin-top:70px;"type="submit" action="submit" name="return" value="Return to Harbor">
            </div>
            
        </div>
    </body>
    <%- include partials/footer.ejs %>
</html>
